.block.alt
  .title Categories
  .content.no-padding
    ul.categories-navigation
      li.purple
        a href="#"  Environment
      li.pink
        a href="#"  Fashion
      li.green
        a href="#"  Food
      li.orange
        a href="#"  Lifestyle
      li.cyan
        a href="#"  Music
      li.blue
        a href="#"  Technology

.gap
.block.alt
  .title Featured Posts
  .content.no-padding
    article.post.slide
      a href="#" 
        img.image src="http://demo.mekshq.com/voice/wp-content/uploads/2014/11/voice_47-375x195.jpg" /
      .info
        .title Solar Energy for Mother Earth and Everyday Smiles
        .meta 2 min read
.gap
.block.alt
  .title Advertisement
  .content
    ul.small-block-grid-2.responsive-block-grid
      li
        a href="#" 
          img src="http://placehold.it/500x500" /
      li
        a href="#" 
          img src="http://placehold.it/500x500" /
      li
        a href="#" 
          img src="http://placehold.it/500x500" /
      li
        a href="#" 
          img src="http://placehold.it/500x500" /
