ul.small-block-grid-1.medium-block-grid-2.responsive-block-grid
  - data.each do |article|
    li
      article.post.vertical.large
        = link_to "#", :class => "image" do 
          img src="http://demo.mekshq.com/voice/wp-content/uploads/2014/11/voice_62-375x195.jpg" /
        .info
          ul.categories
            li
              a href="#"  Lifestyle
            li
              a href="#"  Technology

          = link_to  article.title, "#", :class => "title"

          .timestamp = time_ago_in_words(article.updated_at.to_time)
          .summary = article.content