ul.small-block-grid-1.responsive-block-grid
  - data.each_with_index do |article,index|
    li
      article.post.horizontal.large
        .row.collapse
          .column.medium-5.large-6
            / a.image href="#" 
            = link_to "#", :class => "image" do
              img src="http://demo.mekshq.com/voice/wp-content/uploads/2014/11/voice_62-375x195.jpg" title=("Travelling With Technology – Some Tips From Master") /
          .column.medium-7.large-6
            .info.small-text-center.medium-text-left
              ul.categories
                li
                  a href="#"  Lifestyle
                li
                  a href="#"  Technology

              = link_to  article.title, "#", :class => "title"
              .timestamp = time_ago_in_words(article.updated_at.to_time)