- data.each_with_index do |article,index|
  - if index == 0
    article.post.vertical.large
      = link_to "#", :class => "image" do
        img src="http://demo.mekshq.com/voice/wp-content/uploads/2014/11/voice_32-375x195.jpg" /
      .info
        ul.categories
          li
            a href="#"  Fashion

        = link_to  article.title, "#", :class => "title"
        .timestamp = time_ago_in_words(article.updated_at.to_time)
        .summary = article.content
  - else
    article.post.horizontal.small
      .row.collapse
        .column.small-5
          = link_to "#", :class => "image" do
            img src="http://demo.mekshq.com/voice/wp-content/uploads/2014/11/voice_27-145x100.jpg" /
        .column.small-7
          .info
            ul.categories
              li
                a href="#"  Food
            = link_to  article.title, "#", :class => "title"
