ul.small-block-grid-2.medium-block-grid-5.responsive-block-grid
  - data.each_with_index do |article,index|
    li
      article.post.vertical.small
        = link_to "#", :class => "image" do
          img src="http://demo.mekshq.com/voice/wp-content/uploads/2014/11/unsplash_52bf2bb8d2dd0_1-1-145x100.jpg" title=("Solar Energy for Mother Earth and Everyday Smiles") /
        .info
          = link_to  article.title, "#", :class => "title"