/ .container
/   .row
/     - unless @page.config.blank?
/       - @page.config["modules"].each do |page|
/         = render :partial => "shareds/#{page['layout']}",:locals => {:page => page}
/         


.row
  .column.large-8
     - unless @page.config.blank?
      - @page.config["modules"].each do |page|
        = render :partial => "shareds/#{page['layout']}",:locals => {:page => page}
        .gap


  .column.large-4
    = render :partial => "shareds/side_bar"