- data.each do |article|
  .col-sm-6.col-md-4
    .thumbnail
      article.post.vertical.large
        a.image href="/article/tokyo-s-top-5-searched-hotels" title=("Tokyo Hotel Guide -  Top 5 Searched Hotels") 
          img alt="2" src="//static.trip101.com/paragraph_media/pictures/000/054/763/large/2.jpg?1470108265" /
        .info
          = link_to  article.title, "#", :class => "title"
          .summary = article.content