- data.each do |article|
  article.post.vertical.large
    a.image href="/article/how-to-best-enjoy-japan-s-capital-of-tokyo" title=("Tokyo Guide - How to Best Enjoy Japan’s Capital Of Tokyo ") 
      img alt="2" src="//static.trip101.com/paragraph_media/pictures/000/036/017/large/2.jpg?1464685754" /
    .info
      
      = link_to  article.title, "#", :class => "title"
      .summary = article.content
      