.layout
  .col-sm-6.col-md-6
    .block
      h2.title.purple = page["title"]
      .content
        = generate_content(page)
        article.post.vertical.large
          a.image href="/article/how-to-best-enjoy-japan-s-capital-of-tokyo" title=("Tokyo Guide - How to Best Enjoy Japan’s Capital Of Tokyo ") 
            img alt="2" src="//static.trip101.com/paragraph_media/pictures/000/036/017/large/2.jpg?1464685754" /
          .info
            ul.categories
              li
                a href="/things-to-do/sightseeing" itemprop="genre"  Sightseeing
            a.title href="/article/how-to-best-enjoy-japan-s-capital-of-tokyo" title=("Tokyo Guide - How to Best Enjoy Japan’s Capital Of Tokyo ")  Tokyo Guide - How to Best Enjoy Japan’s Capital Of Tokyo
            .summary Despite the amazing urban environment, Japanese culture and nature can still be found in Tokyo, making it one of the most exciting places in Japan to...
